body{
    color: #40514e ;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

.top-contaner{
    background-color: #F2DEBA;
    position: relative;
    padding: 100px;
}

h1{
    position:relative;
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'sacramento', cursive;
}

.homepage-title{
    position:relative;
    color: #66BFBF;
    font-size: 20px;
    margin: 50 auto 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif cursive;
    position:relative
}

h2{
    color: #66BFBF;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999e;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p{
    line-height: 2;
}

a{
    margin: 10px 15px;
}
a:hover{
    color: #eaf6f6;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    top: 400px;
    bottom: 300px;
}
.mountain{
    position: relative;
    bottom: -100px;
    bottom: px;
}

.middle-container{
    margin: 100px 0;
}

.profile{}

.Containers-image{
    width: 25%;
    margin: auto;
    line-height: 5;
}

.intro{
    width: 30%;
    margin: 35px auto;
}

.skills{
    margin: auto;
}


.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skill-one{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-two{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.contactMe{
    width: 200px;
    height: 200px;
}

.btn{}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.footer-link{}

.footer-img{
width: 35px;
height: 35px;
}